{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
